---
import { MUSICS } from "@/consts/Music";
import Layout from "@/layouts/Layout.astro";
import MusicVynil from "@components/MusicVynil.astro";

const { musicId } = Astro.params;

const music = MUSICS.find((music) => music.id === musicId);

if (!music) {
    return new Response("Music not found", { status: 404 });
}
---

<Layout title={`${music.title} - The Tangerine Club`}>
    <section class="flex flex-col mt-16 items-center justify-center">
        <div class="max-w-4xl mx-auto px-5">
            <script
                is:inline
                set:html={JSON.stringify(music)}
                id="music-data"
            />
            <h1 class="text-2xl font-semibold text-center">{music.title}</h1>
            <p class="text-sm text-gray-500 text-center">
                Release date:
                <date></date>
            </p>
            <div class="flex w-full">
                <MusicVynil music={music} />
            </div>

            {
                music.hasLyrics && (
                    <section class="mt-16">
                        <h2 class="text-2xl font-semibold text-center">
                            Lyrics
                        </h2>
                        <div id="lyrics-container" class="mt-4" />
                    </section>
                )
            }
        </div>
    </section>

    <template id="music-lyric-pharagraph">
        <p class="text-lg text-center opacity-50 transition transform">
            {/*@ts-ignore*/}
        </p>
    </template>
</Layout>

<script>
    import { $ } from "@/lib/dom-selector";
    import type { Music } from "@/types/Music";

    document.addEventListener("astro:page-load", () => {
        const $musicData = $("#music-data");
        const $releaseDate = $("date");

        const fetchLyrics = async (musicId: string): Promise<void> => {
            try {
                const response = await fetch(`/music/${musicId}.json`);

                if (!response.ok) {
                    throw new Error(
                        `Failed to fetch lyrics: ${response.statusText}`,
                    );
                }

                const lyrics = await response.json();

                if (!Array.isArray(lyrics)) {
                    throw new Error("Invalid lyrics format");
                }

                const $lyricsContainer = $("#lyrics-container");
                if (!$lyricsContainer) {
                    console.error("Lyrics container not found");
                    return;
                }

                const $lyricParagraphTemplate = $(
                    "#music-lyric-pharagraph",
                ) as HTMLTemplateElement;
                if (!$lyricParagraphTemplate) {
                    console.error("Template for lyric paragraphs not found");
                    return;
                }

                lyrics.forEach(
                    (lyric: {
                        line: number;
                        start_time: string;
                        end_time: string;
                        text: string;
                    }) => {
                        const $lyricParagraph =
                            $lyricParagraphTemplate.content.cloneNode(
                                true,
                            ) as HTMLElement;
                        const paragraphElement =
                            $lyricParagraph.querySelector("p");

                        if (paragraphElement) {
                            paragraphElement.innerText = lyric.text;
                            paragraphElement.dataset.startTime =
                                lyric.start_time;
                            paragraphElement.dataset.endTime = lyric.end_time;
                            $lyricsContainer.appendChild(paragraphElement);
                        } else {
                            console.error(
                                "Paragraph element not found in template",
                            );
                        }
                    },
                );
            } catch (error) {
                console.error("Error fetching lyrics:", error);
            }
        };

        if ($musicData) {
            const music = JSON.parse($musicData.innerHTML) as Music;
            const releaseDate = new Date(music.releaseDate);
            if ($releaseDate)
                $releaseDate.innerText = releaseDate.toLocaleDateString();
            if (music.hasLyrics) {
                fetchLyrics(music.id);
            }
        }
    });
</script>
