---
import Layout from "@/layouts/Layout.astro";
import type { Session } from "@auth/core/types";
import { getSession } from "auth-astro/server";
import { MyMemberCard } from "@components/MyMemberCard";
import { getMemberCardData, getUserTier } from "@/utils/users";
import { SharedMemberCard } from "@components/SharedMemberCard";

const { memberId } = Object.fromEntries(Astro.url.searchParams)


const isSharedMemberCard = memberId !== undefined

let session: Session | null = null
let stickers : string[] = []
let tier: number | null = null
let dbMemberCard: any = null

if (!isSharedMemberCard) {
    session = await getSession(Astro.request)
    if(!session) {
        return new Response(null, { status: 404 })
    }

    dbMemberCard = await getMemberCardData(parseInt(session?.user?.id as string))
    tier = await getUserTier(session?.user?.id as string)
    stickers = dbMemberCard?.stickers as string[]
} else {
    dbMemberCard = await getMemberCardData(parseInt(memberId as string))
    if (!dbMemberCard) {
        return new Response(null, { status: 404 })
    }
    tier = await getUserTier(memberId as string)
    stickers = dbMemberCard?.stickers as string[]
}

const computedTitle = isSharedMemberCard ? `Member card of ${dbMemberCard.User.displayName} - The Tangerine Club` : "Member Card - The Tangerine Club"

---

<Layout
    title={computedTitle}
    description="">

    <section class="max-w-screen-xl m-auto mt-40 pb-20 gap-8 px-4 flex flex-col lg:grid grid-cols-[auto_1fr] items-center">
    
        {
            session && !isSharedMemberCard && (
                    <MyMemberCard session={session} 
                    stickers={stickers}
                    tier={tier}
                    client:only/>


            )
        }

        {
            isSharedMemberCard && dbMemberCard && (
                <SharedMemberCard
                    number={parseInt(memberId as string)}
                    stickers={dbMemberCard.MemberCards.stickers}
                    username={dbMemberCard.User.displayName}
                    avatar={dbMemberCard.User.avatar}
                    client:only
                    />
            )
        }
    </section>

</Layout>