---
import Layout from "@/layouts/Layout.astro";
import { getStoreProducts } from "@/utils/getStoreProducts";
import SectionTitle from "@components/SectionTitle.astro";

const products = await getStoreProducts();
---

<Layout
    title="Store - The Tangerine Club"
    description="Buy our merch and support us!"
>
    <section class="flex flex-col items-center justify-center mt-16">
        <div class="max-w-5xl w-full mx-auto px-5">
            <header class="text-center">
                <SectionTitle title="Store" />
                <p class="text-gray-300 mt-16">Buy our merch and support us!</p>
            </header>
            <div
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-12"
            >
                {
                    products.map((product) => (
                        <article class="flex flex-col items-center bg-white rounded-lg shadow-md p-5">
                            <img
                                src={product.image}
                                alt={product.name}
                                class="w-full h-48 object-cover rounded-lg"
                            />
                            <h2 class="text-lg font-semibold mt-4">
                                {product.name}
                            </h2>
                            <p class="text-gray-500 mt-2">
                                {product.description}
                            </p>
                            <p class="text-orange-500 font-semibold mt-2">
                                ${product.price}
                            </p>
                            <a
                                href={product.link}
                                target="_blank"
                                class="relative bg-orange-500 h-10 w-3/4 text-white font-semibold px-4 py-2 mt-4 overflow-hidden group"
                            >
                                <span class="absolute z-10 inset-0 h-full w-full flex items-center justify-center transition-transform duration-300 group-hover:translate-y-0 group-hover:translate-x-0">
                                    Buy now
                                </span>
                                <div class="absolute inset-0 w-full h-full bg-black translate-y-full group-hover:translate-y-0 transition-transform duration-300" />
                            </a>
                        </article>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
