---
import type { Music } from "@/types/Music";
interface Props {
    music: Music;
}

const { music } = Astro.props;
---

<div class="volume-indicator" hidden></div>

<div
    class="box-container"
    style={`--size: 300px; view-transition-name: cover-${music.id}; --volume: 100%;`}
>
    <div class="cover-container">
        <header
            class="absolute top-0 z-[55] w-full text-center bg-gradient-to-b from-black to-transparent text-white p-4"
        >
        </header>
        <img
            class="cursor-pointer"
            src={`/images/music-covers/${music.id}.webp`}
            alt={music.title}
        />
        <div
            id="waveform"
            class="absolute bottom-0 w-full h-16 z-[1001] cursor-pointer"
        >
        </div>
    </div>
    <div class="vynil paused"></div>
</div>

<style>
    .box-container {
        position: relative;
        margin-top: 4rem;
    }

    .cover-container {
        display: grid;
        align-items: end;
        max-width: 512px;
        max-height: calc(512px + var(--offset));
        width: var(--size);
        height: calc(var(--size) + var(--offset));
        position: relative;
        overflow: hidden;
        border: 3px solid #000;
        background-color: #000;
        border-radius: 8px;
        transform: translate(-25%);
        transition: transform 1s;
        box-shadow:
            0 0 10px 2px #000c,
            0 0 35px #0008;

        @media (width <= 900px) {
            --size: 100%;
            width: 100%;
            translate: 25% 0;
        }
    }

    .vynil {
        width: var(--size, 200px);
        height: var(--size, 200px);
        position: absolute;
        top: 0;
        background: url("/images/vynil.webp") no-repeat;
        background-size: cover;
        transform: rotate(0deg);
        z-index: -1;
        animation: spin 3s linear infinite 1s;
        transition: translate 1s;
        translate: 30% 0;

        &.paused {
            animation-play-state: paused;
            translate: 0 0;
        }

        @media (width <= 900px) {
            display: none;
        }

        @media (width >= 900px) {
            &.paused {
                .cover-container:has(+ &) {
                    transform: translate(0);
                }
            }
        }
    }

    @keyframes spin {
        100% {
            transform: rotate(1turn);
        }
    }

    .volume-indicator {
        width: 350px;
        height: 50px;
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 999;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            clip-path: inset(0 calc(100% - var(--volume)) 0 0);
            background: repeating-linear-gradient(
                to right,
                #fa9510 0 5%,
                transparent 5% 10%
            );
        }
    }
</style>

<script>
    import { $ } from "@/lib/dom-selector";
    import { updateSessionMetadata } from "@/lib/setup-media-session";
    import type { Music } from "@/types/Music";
    import WaveSurfer from "wavesurfer.js";

    document.addEventListener("astro:page-load", () => {
        let music: Music | null = null;
        let volumeIndicatorTimer: number | null = null;
        const INCREMENT_STEP = 5;

        const $musicData = $("#music-data");
        const $vynil = $(".vynil");
        const $cover = $(".cover-container");
        const $coverImage = $(".cover-container img");
        const $lyricsContainer = $("#lyrics-container");
        const $volumeIndicator = $(".volume-indicator");

        if ($musicData) {
            music = JSON.parse($musicData.innerHTML);
        }

        if (music && $vynil) {
            const wavesurfer = WaveSurfer.create({
                container: "#waveform",
                waveColor: "#777",
                progressColor: "orange",
                barWidth: 3,
                cursorColor: "orange",
                cursorWidth: 2,
                barRadius: 8,
                barHeight: 1,
                height: 48,

                backend: "MediaElement",
                fillParent: true,
                hideScrollbar: true,
                url: `/music/${music.id}.mp3`,
            });

            wavesurfer.on("error", (error) => {
                console.error(error);
            });

            wavesurfer.on("ready", () => {
                wavesurfer.play().catch(() => {
                    const clickListener = () => {
                        wavesurfer.play();
                        document.removeEventListener("click", clickListener);
                    };
                    document.addEventListener("click", clickListener);
                });

                updateSessionMetadata(
                    {
                        title: music.title,
                        artist: "The Tangerine Club",
                        artwork: `/images/music-covers/${music.id}.webp`,
                    },
                    wavesurfer,
                );

                $lyricsContainer
                    ?.querySelectorAll("p")
                    .forEach(($lyricParagraph) => {
                        $lyricParagraph.addEventListener("click", () => {
                            const startTime =
                                parseFloat(
                                    $lyricParagraph.dataset.startTime || "0",
                                ) / 1000;
                            wavesurfer.setTime(startTime);
                            if (!wavesurfer.isPlaying()) {
                                wavesurfer.play();
                            }
                        });
                    });
            });

            wavesurfer.on("play", () => {
                $vynil.classList.remove("paused");
            });

            wavesurfer.on("pause", () => {
                $vynil.classList.add("paused");
                console.log({
                    currentTime: (wavesurfer.getCurrentTime() * 1000).toFixed(
                        0,
                    ),
                });
            });

            wavesurfer.on("finish", () => {
                wavesurfer.stop();
                $vynil.classList.add("paused");
            });

            if (music.hasLyrics) {
                const onProgress = (currentTime: number) => {
                    const $lyricsContainer = $("#lyrics-container");
                    if (!$lyricsContainer) {
                        console.error("Lyrics container not found");
                        return;
                    }

                    const $lyricParagraphs =
                        $lyricsContainer.querySelectorAll("p");
                    $lyricParagraphs.forEach(($lyricParagraph) => {
                        const startTime =
                            parseFloat(
                                $lyricParagraph.dataset.startTime || "0",
                            ) / 1000;
                        const endTime =
                            parseFloat($lyricParagraph.dataset.endTime || "0") /
                            1000;

                        // Keep all passed lyrics visible, and the current one highlighted
                        if (currentTime > endTime) {
                            $lyricParagraph.classList.remove("opacity-50");
                        }

                        if (currentTime < startTime) {
                            $lyricParagraph.classList.add("opacity-50");
                            $lyricParagraph.classList.remove(
                                "scale-110",
                                "font-bold",
                            );
                        }

                        if (
                            currentTime >= startTime &&
                            currentTime <= endTime
                        ) {
                            $lyricParagraph.classList.remove("opacity-50");
                            $lyricParagraph.classList.add(
                                "scale-110",
                                "font-bold",
                            );
                        } else {
                            $lyricParagraph.classList.remove(
                                "scale-110",
                                "font-bold",
                            );
                        }
                    });
                };
                wavesurfer.on("timeupdate", onProgress);
            }

            $cover?.addEventListener("click", (e) => {
                e.stopPropagation();
                if (e.target !== $coverImage) return;
                if (wavesurfer.isPlaying()) {
                    wavesurfer.pause();
                } else {
                    wavesurfer.play();
                }
            });

            $cover?.addEventListener("wheel", (ev) => {
                ev.preventDefault();
                const increment =
                    ev.deltaY > 0 ? -INCREMENT_STEP : INCREMENT_STEP;
                const currentVolume = wavesurfer.getVolume() * 100;
                const newVolume = Math.round(
                    Math.min(Math.max(0, currentVolume + increment), 100),
                );
                $volumeIndicator && ($volumeIndicator.hidden = false);
                clearTimeout(volumeIndicatorTimer as number | undefined);
                // @ts-ignore
                volumeIndicatorTimer = setTimeout(
                    () => $volumeIndicator && ($volumeIndicator.hidden = true),
                    2500,
                );
                $volumeIndicator?.setAttribute(
                    "style",
                    `--volume: ${newVolume}%`,
                );
                wavesurfer.setVolume(newVolume / 100);
            });

            document.addEventListener("astro:before-swap", () => {
                wavesurfer.destroy();
            });
        }
    });
</script>
