---
import Manrope from "@fontsource-variable/manrope/files/manrope-latin-wght-normal.woff2";

import type { Preload } from "@/types/Preload";
import { SOCIAL_NETWORKS } from "@/consts/SocialNetworks";

const SOCIAL_URLS = SOCIAL_NETWORKS.map((network) => network.url);

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
    schema?: object;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "https://thetangerineclub.net/images/og-image.png",
    schema,
} = Astro.props as Props;

/* const determineCanonicalURL = () => {
    if (Astro.url.host.includes("localhost")) return "http://localhost:4321";
    return canonical || Astro.url.pathname;
};

let canonicalURL: URL;

const canonicalURL = new URL(determineCanonicalURL(), Astro.site); */
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link
    rel="preload"
    href={"/fonts/set-sail-studios-atomic-marker-regular.woff2"}
    as="font"
    type="font/woff2"
    crossorigin
/>
<link
    rel="preload"
    href={"/fonts/set-sail-studios-atomic-marker-extras.woff2"}
    as="font"
    type="font/woff2"
    crossorigin
/>

<link rel="preload" href={Manrope} as="font" type="font/woff2" crossorigin />

<script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "MusicGroup",
        name: "The Tangerine Club",
        url: "https://thetangerineclub.net",
        logo: "https://thetangerineclub.net/images/logo.png",
        sameAs: [...SOCIAL_URLS],
    })}
/>

{
    schema && (
        <script
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(schema)}
        />
    )
}

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<!-- <link rel="canonical" href={canonicalURL} />
 -->
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#000000" />

<meta
    name="keywords"
    content="tangerine, club, music, band, rock, pop, indie, alternative"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@thetangerinecl" />
<meta name="twitter:creator" content="@thetangerinecl" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<!-- <meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} /> -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="The Tangerine Club" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />

<meta name="msapplication-config" content="/browserconfig.xml" />

<!-- <script is:inline src="/registerSW.js"></script> -->
<link rel="manifest" href="/manifest.webmanifest" />
