---
import { MUSICS } from "@/consts/Music";
import SectionTitle from "@components/SectionTitle.astro";
---

<section
    id="original-music"
    class="mt-28 max-w-5xl flex flex-col justify-center items-center mx-auto"
>
    <header class="text-center">
        <SectionTitle title="Original Music ðŸŠ" />
        <p class="text-lg text-gray-200 max-w-3xl mx-auto mt-20 px-2">
            Check out our original songs and listen to our indie-pop journey.
        </p>
    </header>

    <div
        class="snap-x h-40 max-w-5xl flex px-4 md:justify-center mt-8 gap-8 overflow-x-scroll w-full mx-auto"
    >
        {
            MUSICS.map((music) => (
                <a
                    href={`/originals/${music.id}`}
                    class="group size-40 snap-normal shrink-0"
                    style={`view-transition-name: cover-${music.id}`}
                    title={`Go to ${music.title} page`}
                >
                    <article class="group relative w-full h-full">
                        <img
                            class="w-full h-full object-cover rounded-lg absolute inset-0"
                            src={`/images/music-covers/${music.id}.webp`}
                            alt={`Cover of ${music.title}`}
                            title={`Cover of ${music.title}`}
                        />
                        <div class="absolute inset-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-lg font-medium text-center">
                                {music.title}
                            </h3>
                        </div>
                    </article>
                </a>
            ))
        }
    </div>
</section>
