---
import SiteHeader from "@/components/SiteHeader.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import NoiseBackground from "@/components/NoiseBackground.astro";
import "@fontsource-variable/manrope";
import { ViewTransitions } from "astro:transitions";
import SEO from "@/components/SEO.astro";
import type { Preload } from "@/types/Preload";
import VamooSecretCode from "@components/VamooSecretCode.astro";
import { WeAreOnlineFooter } from "@components/WeAreOnlineFooter";

interface Props {
	title: string;
	description: string;
	preload?: Array<Preload>;
	canonical?: string;
	image?: string;
	schema?: object;
}

const { title, description, preload, canonical, image, schema } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
			schema={schema}
		/>
	</head>
	<body>
		<SiteHeader />
		<NoiseBackground />
		<VamooSecretCode />
		<main>
			<slot />
		</main>
		<WeAreOnlineFooter
			client:idle
			transition:persist
			transition:name="footer-we-are-online"
		/>
		<SiteFooter />
		<img
			decoding="async"
			loading="eager"
			src="https://librecounter.org/counter.svg"
			referrerpolicy="unsafe-url"
			style="width: 1px;height: 1px;"
			alt="LibreCounter - Privacy-friendly web analytics"
		/>
	</body>
</html>

<style>
	@font-face {
		font-family: "Atomic Marker";
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url("/fonts/set-sail-studios-atomic-marker-regular.woff2")
			format("woff2");
	}

	@font-face {
		font-family: "Atomic Marker Extras";
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url("/fonts/set-sail-studios-atomic-marker-extras.woff2")
			format("woff2");
	}

	html {
		scroll-behavior: smooth;
		@apply bg-[#181818FF] text-white;
		font-family:
			"Manrope Variable",
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
	}

	body:has(dialog[open]) {
		@apply overflow-hidden;
	}
</style>

<style is:global>
	dialog::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
	}
	
	dialog[open] {
		@apply translate-y-0 transition-all duration-500 ease-in-out opacity-100;
		@starting-style {
			transform: translateY(-5%);
			opacity: 0;
		}
	}
</style>