---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";

import { MUSICS } from "@/consts/Music";

export const prerender = true;
---

<Layout
    title="Original Songs - The Tangerine Club"
    description="Check out our original songs, listen to our indie-pop journey, and get to know our music."
>
    <div
        class="flex flex-col items-center justify-center max-w-4xl mx-auto px-4 mt-16"
    >
        <header class="text-center">
            <SectionTitle title="Original Songs" />
        </header>

        <section
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-32"
        >
            {
                MUSICS.map((music) => (
                    <a
                        href={`/originals/${music.id}`}
                        class="group size-56 hover:scale-110 transition duration-300 hover:rotate-1"
                        style={`view-transition-name: cover-${music.id}`}
                        data-music-id={music.id}
                    >
                        <article class="relative">
                            <img
                                class="w-full h-full object-cover rounded-lg"
                                src={`/images/music-covers/${music.id}.webp`}
                                alt={`Cover of ${music.title}`}
                            />
                            <div class="absolute top-0 inset-x-0 pb-12 bg-gradient-to-b from-black via-black/60 transition-opacity duration-300 flex items-start justify-center">
                                <h3 class="text-white text-lg font-medium text-center mt-4">
                                    {music.title}
                                </h3>
                            </div>
                        </article>
                    </a>
                ))
            }
        </section>
    </div>
</Layout>
