---
import Layout from "@/layouts/Layout.astro";
import SectionTitle from "@components/SectionTitle.astro";

import { MUSICS } from "@/consts/Music";
---

<Layout
    title="Original Songs - The Tangerine Club"
    description="The Tangerine Club's music"
>
    <div
        class="flex flex-col items-center justify-center max-w-4xl mx-auto px-4 mt-16"
    >
        <header class="text-center">
            <SectionTitle title="Original Songs" />
        </header>

        <section class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-32">
            {
                MUSICS.map((music) => (
                    <a
                        href={`/originals/${music.id}`}
                        class="group size-56"
                        style={`view-transition-name: cover-${music.id}`}
                    >
                        <article class="group relative">
                            <img
                                class="w-full h-full object-cover rounded-lg"
                                src={`/images/music-covers/${music.id}.webp`}
                                alt={`Cover of ${music.title}`}
                            />
                            <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                <h3 class="text-white text-2xl font-medium text-center mt-4">
                                    {music.title}
                                </h3>
                            </div>
                        </article>
                    </a>
                ))
            }
        </section>
    </div>
</Layout>
